<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stores Detail</title>
</head>
<body>

<h2>가게 정보</h2>
<table th:object="${store}">
    <tr>
        <th>가게명</th>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <th>영업시간</th>
        <td th:text="*{businessHours}"></td>
    </tr>
    <tr>
        <th>평점</th>
        <td th:text="*{averageRating}"></td>
    </tr>
    <tr>
        <th>배달비</th>
        <td th:text="*{deliveryFee}"></td>
    </tr>
    <tr>
        <th>최소주문금액</th>
        <td th:text="*{minimumOrderAmount}"></td>
    </tr>
    <tr>
        <th>휴무일</th>
        <td th:text="*{dayOff}"></td>
    </tr>
    <tr>
        <th>주소</th>
        <td th:text="*{location}"></td>
    </tr>
</table>

<h3>메뉴</h3>
<ul>
    <li th:each="menu : ${store.menus}" style="list-style: none">
        <input type="checkbox" th:value="${menu.id}">
        <label th:text="${menu.name + ' ' +menu.price}"></label>
    </li>
</ul>

<button onclick="">장바구니 담기</button>
</body>
</html>